html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
}

.form-signin {
    margin: auto;
    width: 100%;
    max-width: 400px;
}

#inputName,
#inputPassword {
    width: 275px;
    height: 40px;
}

#name,
#pass,
#succesPass {
    width: 275px;
    height: 40px;
}

#registro {
    text-decoration: none;
    color: white;
}